language: php
dist: trusty
php:
  - "7.4"
  - "7.3"
  - "7.2"
  - "7.1"
  - "7.0"
  - "5.6"
  - "5.5"
  - "5.4"
install:
  - sudo apt-get update
  - sudo apt-get install pdftk
  - pdftk --version
  - composer self-update
  - composer install
