<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="./tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="phppdftk Test Suite">
            <directory phpVersion="7.2.0" phpVersionOperator=">=">./tests/phpunit89</directory>
            <directory phpVersion="7.2.0" phpVersionOperator="lt">./tests/phpunit4567</directory>
        </testsuite>
    </testsuites>
</phpunit>
